body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

[top_container]{
    display:block;
    max-width:30rem;
    margin:0 auto;
}

main[main]{
    margin-top:3rem;
    padding:2rem;
    border-radius:4px;
    background-color:#fff;
    box-shadow:0 0 15px #ddd;
}

footer[main]{
    margin-top:1rem;
    margin-bottom:2rem;
    text-align:center;
    color:#aaa
}

img[content]{
    display:block;
    max-width:15rem;
    margin:1rem auto 2rem
}

h1[content]{
    text-align:center
}

p[content]{
    text-align:center
}

dl[content]{
    margin:2rem auto 0;
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    display:grid;
    grid-template-columns:-webkit-max-content -webkit-max-content;
    grid-template-columns:max-content max-content;
    -webkit-column-gap:.75rem;
    -moz-column-gap:.75rem;
    column-gap:.75rem
}

dt[content]{
    font-weight:700;
    text-align:right
}

dd[content]{
    margin:0
}

div[content]{
    grid-column:2;
    height:1rem
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
